<div class='col'>
  <div class='row'>
    <div class='col-2'>
      <app-recent-friends></app-recent-friends>
    </div>
    <div class='col'>
      <div class='row'>
        <div class='col'>
          <app-search-filter></app-search-filter>
        </div>
      </div>
      <div class='row' *ngIf='false'>
        <app-game></app-game>
      </div>
      <div class='row'>
        <div class="col-12">
          <app-friends-info></app-friends-info>
        </div>
      </div>
    </div>
  </div>
</div>
