<div class="navBar" style="margin-top:0;" cz-shortcut-listen="true">
  <div id="navMyName" class="navHoverName">
    Kathy Zhang
  </div>
  <div id="navRight">
    <div class="navComponents">
      <div [routerLink]=" ['/experience']">EXPERIENCE </div>
    </div>
    <div class="navComponents">
      <div [routerLink]="['/education']">EDUCATION</div>
    </div>
    <div class="navComponents">
      <div [routerLink]="['/clients']">CLIENTS</div>
    </div>
    <div class="navComponents">
      <div [routerLink]="['/skills']">SKILLS</div>
    </div>
    <div class="navComponents">
      <div [routerLink]="['/expertise']">EXPERTISE</div>
    </div>
    <div class="navComponents">
      <div [routerLink]="['/contact']">CONTACT</div>
    </div>
    <div class="navComponents">
      <div [routerLink]="['/friends']">FRIENDS</div>
    </div>
  </div>
</div>
